
body {
	background-image:url('../img/flower.jpg');
	background-position: center top;
	background-repeat:  no-repeat;
	background-size: cover;
	height: 300px;
	}

.header {
	margin-bottom: 2em;
}

sun {
	background-image:url('../img/sun.jpg');
	background-position: center top;
	background-repeat:  no-repeat;
	background-size: cover;
	height: 300px
}
	
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 800px;
	padding: 2em;
}

.about-box {
	margin-top: none;
	margin-right: none;
	margin-bottom: 2em;
	width: 90%;
	max-width: 800px;
	max-height: 100px;
}

.about-text { 
	margin-right: none;
	width: 90%;
	max-width: 800px;
	max-height: 100px;
}

img.align-left {
	float: left;
	margin-right: 20px
}

nav {
 	background-color: ;
	text-align: center
}

nav a {
	color: #ec8005;
	text-decoration:none
}

nav li {
	display: inline;
	margin-right: 50px 	
	}

.active {
	color: #f76525;	
	}
	
.about {
	width: 550px;
	margin-right: 50px;
	float: left;
	clear: left;
}

.birds {
	background-image: url('../img/birds.jpg');
	background-position: center top;
	background-repeat:  no-repeat;
	background-size: 100%;

}

.pay{
	float: left;
	margin-top: -100px;
}

.bottom {
	margin-top: none;
	margin-right: none;
	margin-bottom: none;
	width: 100%;
}

.soccer {
	margin-top: none;
	margin-right: none;
	margin-bottom: none;
	width: 100%;
}

.footer {
	border-top: 1px solid #333;
	text-decoration:none;
	text-align: center;
	margin-top: none;
	margin-right: none;
	margin-bottom: none;
}

.email {
	border: 1px solid #333;
	float: left;
	clear: left;
	margin-right: none;
	width: 5%;
	max-height: 50px;
}

.contact { 
	border: 1px solid #333;
	position: left;
	margin-right: none;
	width: 90%;
	max-width: 800px;
	max-height: 50px;
}



/* Contain floats: h5bp.com/q */ 
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { zoom: 1; }