@font-face {
    font-family: 'mostra_nuova_altd_regularRg';
    src: url('../fonts/mostra_nuova_altd_regular-webfont.eot');
    src: url('../fonts/mostra_nuova_altd_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/mostra_nuova_altd_regular-webfont.woff') format('woff'),
         url('../fonts/mostra_nuova_altd_regular-webfont.ttf') format('truetype'),
         url('../fonts/mostra_nuova_altd_regular-webfont.svg#mostra_nuova_altd_regularRg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: "Verdana", sans serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

.about-text {
	font-family: "Verdana", sans serif;
	font-size: 14px;
	line-height: 1.2em;
	color: #222;
	padding: 0;
}

h1 {
	font-family: 'Varela Round', sans-serif;
    font-size: 55px;
    color: rgb(46, 134, 246);
    text-align: center;
}

h2 {
	font-family: 'Varela Round', sans-serif;
    font-size: 24px;
    color: rgb(46, 134, 246);
}

h3 {
	font-family: 'Varela Round', sans-serif;
    font-size: 20px;
    color: rgb(46, 134, 246);
}

nav {
	font-family:'Varela Round', sans-serif;
    font-size: 28px;
    color: rgb(46, 134, 246);
    text-align: center;
    }
    
li {
	display: inline;
}

footer {
	font-family:'Varela Round', sans-serif;
    font-size: 13px;
    color: black;
    text-align: left;
    }
