
body {
	font-family: Georgia, "Times New Roman",Times,serif;
	font-size: 16px;
	line-height: 1.5em;
	color: #222;
}

h1 {
	font-family: 'Varela Round', sans-serif;
    font-size: 50px;
    color: rgb(46, 134, 246);
}

